version: '3'

services:
  django:
    container_name: django
    build:
      context: .
      dockerfile: ./compose/django/Dockerfile
    volumes:
      - .:/app
    command:
      - /bin/sh
      - -c
      - |
        python manage.py runserver 0.0.0.0:8000 --settings=app.settings_local
    ports:
      - "8000:8000"
    environment:
      - DJANGO_DB_HOST=mysql
    depends_on:
      - mysql
    restart: always
  mysql:
    image: mysql:5.7
    container_name: local_mysql
    command:
      - --lower_case_table_names=1
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --explicit_defaults_for_timestamp
    ports:
      - "3306:3306"
    expose:
      - 3306
    environment:
      - MYSQL_USER=username
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=db
    restart: unless-stopped
    platform: linux/x86_64
  redis:
    image: redis:latest
    container_name: local_redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    platform: linux/x86_64
  mongodb:
    image: mongo:latest
    container_name: local_mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./db/mongodb:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=db

